.postForm {
  margin-bottom: 2rem;
  background-color: var(--color-bg-accent);
  padding: 1rem;
  border-radius: 8px;

  .formGroup {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 0.25rem;
      color: var(--color-text);
    }

    textarea {
      padding: 0.5rem;
      font-size: 1rem;
      color: var(--color-text);
      background-color: var(--color-bg);
      border-radius: var(--btn-radius);
      border: 1px solid var(--color-border);
      resize: vertical;
      min-height: 80px;

      &:focus {
        border-color: var(--color-border-focused);
        outline: none;
      }
    }
  }
}
